<div id="primary-menu">
  <div class="container">
    <div class="search-box">
      <input type="text" placeholder="Nhập từ khóa tìm kiếm">
      <button>Tìm kiếm</button>
    </div>
    <ul id="main-menu">
      <li>
        <a>Trang chủ</a>
      </li>
      <li>
        <a>Nguồn hàng</a>
      </li>
      <li>
        <a>Danh mục</a>
      </li>
      <li>
        <a>Giới thiệu</a>
      </li>
      <li>
        <a>Chính sách</a>
      </li>
      <li>
        <a>Diễn đàn</a>
      </li>
      <li>
        <a>Bài đăng</a>
      </li>
      <li>
        <a>Liên hệ</a>
      </li>
    </ul>
  </div>  
</div>