<div class="product-item">
  <div class="product-item-avatar">
    <img
      src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.0-9/122332738_3178434232264958_7906574338501688743_n.jpg?_nc_cat=111&ccb=2&_nc_sid=b9115d&_nc_ohc=qgnvZJRxh_MAX-AQo4y&_nc_ht=scontent.fhan2-2.fna&oh=d0c2b082a462b23826cd31f8dc215a98&oe=5FBC2C35" />
  </div>
  <div class="product-item-detail">
    <p class="title">Có nguồn túi xách và balo nữ chạy shopee tốt</p>
    <p class="address">Khu vực: Thanh Xuân, Hà Nội</p>
  </div>
</div>